NODE_ENV='development'
PORT=8000
ATLAS_URI='[[locate URI link for your MongoDB database and place here]]'
TEST_ATLAS_URI='[[locate URI link for your MongoDB TEST database and place here]]'
EXAMPLE_VAR='exampleVariablesHere'
JWT_SECRET='[[insert uuid here]]'
JWT_EXPIRY='3h'